@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");

.App {
    font-family: "Barlow", sans-serif;

    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #252836;
}

a {
    text-decoration: none;
}
